In [2]:
items = aquire.scrape_store_data('https://python.zach.lol/api/v1/items','items')

In [3]:
stores = aquire.scrape_store_data('https://python.zach.lol/api/v1/stores', 'stores')

In [6]:
sales = aquire.scrape_store_data('https://python.zach.lol/api/v1/sales', 'sales')

In [13]:
item_sales = items.merge(sales, how='left', left_on= items.item_id, right_on=sales.item )

In [24]:
complete = item_sales.merge(stores, how='left', left_on='store', right_on=stores.store_id)

In [26]:
complete.to_csv('complete.csv', index=False)

In [27]:
df = pd.read_csv('complete.csv')

In [104]:
germany = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [105]:
germany.to_csv('germany.csv', index=False)

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]